@{
    ViewData["Title"] = "Order Details";
}

@model Order

<div>
    <h4>Order</h4>
    <hr />
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">Order ID</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th scope="row">User ID</th>
                <td>@Model.UserId</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th scope="row">Mobile Number</th>
                <td>@Model.MobileNumber</td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th scope="row">Payment Method</th>
                <td>@Model.PaymentMethod</td>
            </tr>
            <tr>
                <th scope="row">Is Paid</th>
                <td>@Model.IsPaid</td>
            </tr>
            <tr>
                <th scope="row">Order Status</th>
                <td>@Model.OrderStatus.StatusName</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="d-flex gap-2">
    <a asp-action="UpdateOrderStatus" asp-route-orderId="@Model.Id" class="btn btn-danger">Update Order Status</a>
    <form asp-action="UpdatePaymentStatus" method="post" class="mb-0">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Toggle Payment Status</button>
    </form>
    <a asp-action="AllOrders" class="btn btn-primary">Back</a>
</div>
