@model IEnumerable<OrderDetail>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product</th>
            <th>Image</th>
            <th>Subcategory</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td><img src="/img/product/@item.Product.ImagePath" alt="@item.Product.ProductName" style="width:80px;height:100px;" /></td>
                <td>@item.Product.Subcategory.SubcategoryName</td>
                <td>@item.UnitPrice.ToString("C2", new System.Globalization.CultureInfo("en-US"))</td>
                <td>@item.Quantity</td>
                <td>@((item.UnitPrice * item.Quantity).ToString("C2", new System.Globalization.CultureInfo("en-US")))</td>
            </tr>
        }
    </tbody>
</table>
